/* eventually need to update colours for shapes again */

html, body { /*done*/
    background-color: #4D663E;
    width: 100%;
    height: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
}
  
.row {
    margin: 0;
    padding: 0;
}

.col {
    margin: 0;
    padding: 0;
}

.section {
    margin: 0;
    padding: 0;
}



/* styling icons */

.topBarLeft { /*done*/
    display: flex;
    margin: 0;
}

.noBgIconTopBar { /*done*/
    object-fit: contain;
    width: 25px;
    margin: 10px;
}

.topBarMiddle { /*done*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.topBarRight { /*done*/
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.homeUserIconsCircle { /*done*/
    width: 40px; 
    height: 40px; 
    border-radius: 20px;
    padding: 0%;
    margin: 0%;
    background-color: #96B482; 
    display: flex;
    align-items: center;
    justify-content: center; 
}

.searchIconOblong { /*done*/
    margin-left: 2%;
    width: 100%; 
    height: 40px; 
    background-color: #96B482;
    border-radius: 30px; 
    display: flex;
    align-items: center;
    justify-content: left;
}

.searchIconOblong img { /*done*/
    margin-left: 7px;
}

.leftBarIcons { /*done*/
    object-fit: contain;
    width: 30px;
}

#arrowRightBar { /*done*/
    object-fit: contain;
    width: 20px;
}

.bottomBarIcons { /*done*/
    object-fit: contain;
    margin-top: 20px;
    width: 50px;
}

.mainMenuDots{
    padding-left: 0%;
    width: 4%;
}


/* styling column sizes */

.col-flex { /*done*/
    flex: 1;
}

.topBar { /*done*/
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftBar { /*done*/
    width: 80px;
    height: 775px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #5C7949;
    border-radius: 10px;
    padding-top: 20px;
}

.middleBar { /*done*/
    height: 775px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 0;
    background-color: #EBF0E9;
    border-radius: 10px;
    display: block;
    overflow-y: auto;
}

.rightBar { /*done*/
    width: 40px;
    height: 775px;
    display: flex;
    background-color: #5C7949;
    border-radius: 10px 0px 0px 10px;
    justify-content: right;
    align-items: center;
}

.bottomBar { /*done*/
    display: flex; 
    justify-content: center; 
}



/* left bar elements */

.leftBarSquares { /*done*/
    width: 70px;
    height: 60px;
    justify-content: center;
    border-radius: 5px;
    display: flex;
    margin-top: 10px;
}

#aboutLeftBar {
    background-color: #6C8F55;
}

#educationLeftBar {
    background-color: #63844F;
}

#homeLeftBar, #experienceLeftBar {
    background-color: #5C7949;
}

#projectsLeftBar {
    background-color: #557043;
}

#qualificationsLeftBar {
    background-color: #4D663E;
}

#interestsLeftBar {
    background-color: #455B35;
}

#attributionLeftBar {
    background-color: #3D5030;
}



/* index styling */

.middleBar::-webkit-scrollbar {
    display: none; 
}

.rounded-circle {
    object-fit: contain;
    width: 17vw;
    height: 17vw;
}

.profileHeader .col-2 {
    width: 22%;
}

.profileHeader .col-10 {
    width: 78%;
}

.profileHeader {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-image: linear-gradient(#EBF0E9, #DAE5D4);
    display: flex;
    align-items: flex-end;
}

.profileHeader #mainHeaderText {
    padding-top: 6%;
}

#mainHeaderText .row:first-child {
    font-size: 15px;
    color: #6C8F55;
}

#mainHeaderText .row:nth-child(2) {
    font-size: 3.5vw;
    font-weight: 800;
    color: #1D2818;
}

.title {
    font-size: 15px;
    color: #6C8F55;
    padding: 0; 
}

.ongoingProjects {
    font-size: 15px;
    color: #455B35;
}

.mainScrollableContent {
    margin: 0;
    padding: 2%;
    background-image: linear-gradient(#BFD2B4, #96B482);
}

.sectionTitle {
    margin-left: -1%;
    margin-top: 3%;
    font-weight: 700;
    font-size: 30px;
    color: #1D2818;
}

.sectionSubTitle {
    margin-left: -1%;
    color: #455B35;
    font-size: 15px;
    font-weight: normal;
    padding-bottom: 2%;
}

.showAllText {
    white-space: nowrap;
    margin: 0%;
    color: #455B35;
    font-size: 15px;
    padding-bottom: 2%;
    text-align: right;
    font-weight: 600;
}

.shapeHeading {
    text-align: center;
    color: #1D2818;
    font-size: 15px;
}

.mainCircle {
    width: 13vw;
    height: 13vw;
    border-radius: 50%;
    margin-bottom: 4%;
}

.bigRoundedSquare {
    margin-bottom: 4%;
    width: 13vw;
    height: 13vw;
    border-radius: 10px;
}

.aboutCircle {
    background-color: #6C8F55;
}

.educationCircle {
    background-color: #63844F;
}

.experienceCircle {
    background-color: #5C7949;
}

.projectsCircle {
    background-color: #557043;
}

.certificationsCircle {
    background-color: #4D663E;
}

.interestsCircle {
    background-color: #455b36;
}

.roundedSquare {
    width: 4vw;
    height: 4vw;
    border-radius: 5px;
}

#certificationTrack {
    padding-bottom: 1%;
}

#certificationTracl:last-of-type {
    margin-bottom: 10%;
}

.textDark {
    color: #455B35;
    font-size: 15px;
    font-weight: 500;
}

.textLight {
    color: #617F4D;
    font-size: 15px;
}

.certification1 {
    background-color: #F8FAF7;
}

.certification2 {
    background-color: #EBF0E9;
}

.certification3 {
    background-color: #DDE8D8;
}

.certification4 {
    background-color: #D1DECA;
}

.project1 {
    background-color: #A2BD92;
}

.project2 {
    background-color: #9AB886;
}

.project3 {
    background-color: #90B17C;
}

.project4 {
    background-color: #88AB71;
}

.project5 {
    background-color: #80A467;
}

.project6 {
    background-color: #779e5e;
}

.experience1 {
    background-color: #506B40;
}

.experience2 {
    background-color: #486139;
}

.experience3 {
    background-color: #415733;
}

.experience4 {
    background-color: #3B4B2E;
}

.experience5 {
    background-color: #324227;
}

.experience6 {
    background-color: #2a3821;
}

.interest1 {
    background-color: #2A3821;
}

.interest2 {
    background-color: #222D1C;
}

.interest3 {
    background-color: #1B2314;
}

.interest4 {
    background-color: #13190F;
}

.interest5 {
    background-color: #0A0F09;
}

.interest6 {
    background-color: #070a06;
}

/* adjust at breakpoints */

/* extra-small breakpoint */
@media only screen and (min-width: 320px) and (max-width: 600px) {
    .col-6 .row.textDark, .col-6 .textLight {
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .container-fluid {
        padding: 0;
    }

    body {
        background-color: orange;
    }

    .rounded-circle {
        width: 100%;
        height: 100%;
    }

    .profileHeader .col-2 {
        width: 40%;
    }

    .profileHeader .col-10 {
        width: 60%;
    }

    .mainCircle {
        width: 40vw;
        height: 40vw;
    }

    .bigRoundedSquare {
        width: 40vw;
        height: 40vw;
    }

    .col:has(.interestsCircle, .certificationsCircle, .projectsCircle, .experienceCircle, .project6, .project5, .project4, .project3,
    .experience6, .experience5, .experience4, .experience3, .interest6, .interest5, .interest4, .interest3) {
        display: none;
    }

    #certificationTrack > .col-6 {
        width: 100%;
    }

    #certificationTrack > .col-2 {
        display: none;
    }

    #certificationTrack .col-6:has(> .row.textDark) {
        width: 75%;
    }

    .roundedSquare {
        width: 12vw;
        height: 12vw;
    }

    .topBar, .leftBar, .rightBar, .bottomBar, #certificationTrack .col-4.textLight {
        display: none;
    }

    .middleBar {
        border-radius: 0;
        margin: 0;
        height: 850px;
    }
}

/* small breakpoint */
@media only screen and (min-width: 600px) and (max-width: 800px) {
    .col-6 .row.textDark, .col-6 .textLight {
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    #certificationTrack > .col-6 {
        width: 80%;
    }

    #certificationTrack > .col-4 {
        display: none;
    }

    #certificationTrack .col-6:has(> .row.textDark) {
        width: 75%;
    }

    #certificationTrack > .col-2 {
        width: 20%;
    }

    .roundedSquare {
        width: 7vw;
        height: 7vw;
    }

    body {
        background-color: green;
    }

    .mainCircle {
        width: 30vw;
        height: 30vw;
    }

    .bigRoundedSquare {
        width: 30vw;
        height: 30vw;
    }

    .col:has(.interestsCircle, .certificationsCircle, .projectsCircle, .experienceCircle, .project6, .project5, .project4, .project3,
    .experience6, .experience5, .experience4, .experience3, .interest6, .interest5, .interest4, .interest3) {
        display: none;
    }

    .rounded-circle {
        width: 100%;
        height: 100%;
    }

    .profileHeader .col-2 {
        width: 35%;
    }

    .profileHeader .col-10 {
        width: 65%;
    }
}

/* medium breakpoint */
@media only screen and (min-width: 800px) and (max-width: 1000px) {
    .col-6 .row.textDark, .col-6 .textLight {
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    #certificationTrack > .col-6 {
        width: 80%;
    }

    #certificationTrack > .col-4 {
        display: none;
    }

    #certificationTrack .col-6:has(> .row.textDark) {
        width: 75%;
    }

    #certificationTrack > .col-2 {
        width: 20%;
    }

    .roundedSquare {
        width: 7vw;
        height: 7vw;
    }
    
    body {
        background-color: blue;
    }

    .mainCircle {
        width: 23vw;
        height: 23vw;
    }

    .bigRoundedSquare {
        width: 23vw;
        height: 23vw;
    }
    
    .col:has(.interestsCircle, .certificationsCircle, .projectsCircle, .project6, .project5, .project4, .experience6, .experience5, .experience4, 
    .interest6, .interest5, .interest4) {
        display: none;
    }

    .rounded-circle {
        width: 100%;
        height: 100%;
    }

    .profileHeader .col-2 {
        width: 30%;
    }

    .profileHeader .col-10 {
        width: 70%;
    }
}

/* large breakpoint */
@media only screen and (min-width: 1000px) and (max-width: 1200px) {
    .col-6 .row.textDark, .col-6 .textLight {
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    #certificationTrack > .col-6 {
        width: 60%;
    }

    #certificationTrack > .col-4 {
        width: 27%;
    }

    #certificationTrack .col-6:has(> .row.textDark) {
        width: 75%;
    }

    #certificationTrack > .col-2 {
        width: 10%;
    }

    .roundedSquare {
        width: 6vw;
        height: 6vw;
    }

    body {
        background-color: yellow;
    }

    .rounded-circle {
        width: 100%;
        height: 100%;
    }

    .profileHeader .col-2 {
        width: 25%;
    }

    .profileHeader .col-10 {
        width: 75%;
    }

    .mainCircle {
        width: 19vw;
        height: 19vw;
    }

    .bigRoundedSquare {
        width: 19vw;
        height: 19vw;
    }

    .col:has(.interestsCircle, .certificationsCircle, .project6, .project5, .experience6, .experience5, .interest6, .interest5) {
        display: none;
    }
}

/* extra-large breakpoint */
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    body {
        background-color: red;
    }

    .rounded-circle {
        width: 100%;
        height: 100%;
    }

    .profileHeader .col-2 {
        width: 20%;
    }

    .profileHeader .col-10 {
        width: 80%;
    }

    .mainCircle {
        width: 15vw;
        height: 15vw;
    }

    .bigRoundedSquare {
        width: 15vw;
        height: 15vw;
    }

    .col:has(.interestsCircle, .project6, .experience6, .interest6) {
        display: none;
    }

    #certificationTrack > .col-6 {
        width: 60%;
    }

    #certificationTrack > .col-4 {
        width: 27%;
    }

    #certificationTrack > .col-2 {
        width: 10%;
    }

    .roundedSquare {
        width: 5vw;
        height: 5vw;
    }
}

